{% extends 'base.html' %}

{% block content %}
    
    <div class="row mx-auto justify-content-center">
        
        {% for structure in data_structure_list %}
        <div class="col-sm-5">
            <div class="index-cards">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ structure.name }}</h5>
                    <p class="card-text">{{ structure.description }}</p>
                    <a href="{%url 'info' structure.id %}" class="btn color-3">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>

    {% include '../pagination.html' %}

{% endblock %}

