{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="text-center">
    {% if object %}
        <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
    {% else %}
        <h1>Create a Structure</h1>
    {% endif %}
</div>

<div class="maincontainer h-100 col-6 text-center my-auto">
    <!-- Leaving the action empty makes the form post to the same url used to display it -->
    <form action="" method="post">
        <!-- Django requires the following for security purposes -->
        {% csrf_token %}
        <table>
            <!-- Render the inputs inside of <tr>s & <td>s -->
            {{ form|crispy }}

            <div id="div_id_properties" class="form-group"> 
              <label for="id_properties" class="col-form-label ">Properties</label> 
              <div class=""> 
                <select name="properties" class="selectmultiple form-control" id="id_properties" multiple=""> 
                  {% for property in properties %}
                        <option value="{{property.id}}">{{property.name}}</option> 
                  {% endfor %}
                </select>
              </div>
            </div>
            <div id="div_id_methods" class="form-group">
              <label for="id_methods" class="col-form-label ">Methods</label> 
              <div class="">
                <select name="methods" class="selectmultiple form-control" id="id_methods" multiple="">
                  {% for method in methods %}
                    <option value="{{method.id}}" selected="">{{method.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

        </table>
    {% if object %}
        <button class='btn-outline-primary' type='submit'>Update Structure</button>
    {% else %}
        <button class='btn-outline-primary' type='submit'>Create Structure</button>
    {% endif %}
      
    </form>
</div>


{% endblock %}
