{% extends 'base.html' %}
{% block content %}

    <div class="navbar"><span>CSS Parallax Scrolling Tutorial</span></div> 
    
        <div class="parallax-wrapper">
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   ....
                   .... 
                   Donec in justo eu ligula semper consequat sed a risus.</p>
            </div>
        </div>
        <div class="regular-wrapper">
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   ....
                   .... 
                   Donec in justo eu ligula semper consequat sed a risus.</p>
            </div>
        </div>


{% endblock %}