{% extends 'base.html' %}

{% block content %}
<div class="my-auto mx-auto col-3 align-self-center text-white text-center">

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<form method="post" action="{% url 'signup' %}" class="text-white text-center my-auto">
    {% csrf_token %}

    <div>
        <p>
            <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" placeholder="username" class="form-control signup-inputs text-center code-display">
        
            <input type="password" name="password1" required="" id="id_password1" placeholder="password" class="form-control signup-inputs text-center code-display">
        
            <input type="password" name="password2" required="" id="id_password2" placeholder="confirm password" class="form-control signup-inputs text-center code-display">
        </p>
    </div>
    <br>
    <input type="submit" class="btn" value="signup">
</form>

{% endblock %}