
<div class="container1 w-100">
    <h1>Elements</h1>

    <div class="flip-card">
        <div class="flip-card-inner">

            <div class="flip-card-front">
                <h2>Elements</h2>
                <p>{{ds.element}}</p>
                <p>Element Name Placeholder</p>
            </div>

            <div class="flip-card-back">
                <h2>JavaScript:</h2> 
                <p>JavaScript Code Placeholder</p> 
                <p>JavaScript Code Placeholder</p>
                <h2>Python:</h2>
                <p>Python Code Placeholder</p>
            </div>

        </div>
    </div>
    
</div>