{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Document</title>
</head>
<body>
    
</body>
</html>


<h1>Name: {{ds.name}}</h1>
<hr>
<p>Des: {{ds.description}}</p>
<br>
Ele: {{ds.element}}
<br>
Prop: {{ds.properties}}
<br>
Methods: {{ds.methods}}
<br>
<hr>

<h2>Python:</h2> 
<code>{{py}}</code>
<hr>
<h2>JS: </h2>
<code>{{js}}</code>
