<div class="container2 row flex-grow-1">

    <div class="flip-card">
        <div class="flip-card-inner">

            <div class="flip-card-front">
                <div id="div_id_properties" class="form-group"> 
                    <label for="id_properties" class="col-form-label ">
                        Properties
                    </label>

                    <div> 
                        <select name="properties" class="selectmultiple form-control" id="id_properties" multiple=""> 
                            {% for valid_property in valid_properties %}
                                <option value="{{valid_property.id}}" {% if valid_property in properties %}selected=""{% endif %}>{{valid_property.name}}</option> 
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="flip-card-back">
                <h2>JavaScript:</h2> 
                <p>JavaScript Code Placeholder</p> 
                <p>JavaScript Code Placeholder</p>
                <h2>Python:</h2>
                <p>Python Code Placeholder</p>
            </div>
            
        </div>
    </div>
    


</div>