<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <!-- <div class="navbar-container">
        <nav class="navbar navbar-expand-lg" id="navbarpls">

            <a class="navbar-brand" href="#">Navbar</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                </ul>
            </div>

        </nav>

    </div> -->

    <div class="body-container d-flex ">

        <div class="maincontainer h-100 col-6 text-center">
            <h1>Main Template Here</h1>

            <div class="card cardflip">
                
                <div class="card-face card-face-front"> <p class="text-center">Front of Card</p> 
                <button class="button btn-outline-primary">View Code</button>
                </div>

                <div class="card-face card-face-back">
                    <!-- <div> -->
                        <h1>SHOW CODE HERE</h1>

                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">JavaScript: </h4>
                            </div>
                            <div class="card-body">
                                <pre>
                                    <code>

                                        <p class="card-text" style="text-align: left;">
LITTLE JAVASCRIPT CODE!
var array = [9, 2, 5, 6, 4, 3, 7, 10, 1, 8];

function insertionSort(array) {
  for(var i = 0; i < array.length; i++) {
    var temp = array[i];
    var j = i - 1;
    while (j >= 0 && array[j] > temp) {
      array[j + 1] = array[j];
      j--;
    }
    array[j + 1] = temp;
  }
  return array;
}
                                        </p>

                                    </code>
                                </pre>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Python: </h4>
                            </div>
                            <div class="card-body">
                                <p class="card-text">LOTS OF PYTHON CODE??
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat laboriosam facere aperiam temporibus ea, fuga neque rerum amet. Optio magnam, totam deserunt quas molestiae ipsa laudantium quaerat corrupti perspiciatis labore!
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo maxime natus reiciendis porro, placeat voluptate incidunt accusantium dignissimos autem possimus, soluta optio molestiae commodi eligendi dolorum quaerat. Pariatur, error nam.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem omnis eligendi pariatur consequuntur cupiditate aliquam aut, eaque dolorem corporis expedita laudantium placeat, alias soluta quam in. Tempore autem alias perspiciatis!

                                </p>
                            </div>
                        </div>

                    <!-- </div> -->
                    <button class="button btn-outline-primary btn-rear">View Structure</button>
                </div>

            </div>

        </div>

        <div class="sidecontainer h-100 col-6">

            <div class="container1 w-100">
                <h1>Component 1</h1>
    
            </div>

            <div class="container2 w-100">
                <h1>Component 2</h1>
    
            </div>
    
            <div class="container3 w-100">
                <h1>Component 3</h1>
    
            </div>

        </div>


    </div>


<script>

var card = document.querySelector('.card');
var button = document.querySelector('.btn-outline-primary');
var button2 = document.querySelector('.btn-rear');

button.addEventListener( 'click', function() {
    card.classList.toggle('is-flipped');
});

button2.addEventListener( 'click', function() {
    card.classList.toggle('is-flipped');
});

</script>
</body>
</html>

{% for props in ds.properties %}
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ props.name }}</span>
        <p>Type: {{ props.type }}</p>
        <p>Description: Description Placeholder</p>
    </div>
</div>
{% endfor %}








<div class="container">
    <div class="row">
        <!-- Scrolling enabled for longer content -->
        <div class="info-card">
            <div class="front">
                <h2>Element</h2>
            </div>

            <div class="back">
                <h2>JavaScript: </h2>
                <p>
                    JavaScript Code Placeholder
                </p>
                <h2>Python: </h2>
                <p>
                    Python Code Placeholder
                </p>
            </div>
        </div>
    </div>
</div>



<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <h2>Elements</h2>
            <p>Element Name Placeholder</p>
            <p>Element Name Placeholder</p>
        </div>
        <div class="flip-card-back">
            <h2>JavaScript:</h2> 
            <p>JavaScript Code Placeholder</p> 
            <p>JavaScript Code Placeholder</p>
            <h2>Python:</h2>
            <p>Python Code Placeholder</p>
        </div>
    </div>
</div>