<div class="card cardflip" >
    
    <div class="card-face card-face-front">
        <p class="text-center">Front of Card</p> 
        <h1>{{ds}}</h1>
        <h2>DS Name: {{ds.name}}</h2>
        <p>DS ID (for testing): {{ ds.id }}</p>
        <hr>
        <h4>Description: {{ds.description}}</h4>
        <h5>Elements: {{ds.element}}</h5>
        <h5>Properties: {{ds.properties}}</h5>
        <h5>Methods: {{ds.methods}}</h5>
        <h5>Created By: {{ds.user}}</h5>
        <button class="button btn-outline-primary">View Code</button>
    </div>
    <div class="card-face card-face-back">
        <h1>SHOW CODE HERE</h1>
            
            <div class="card">

                <div class="card-header">
                    <h4 class="card-title">JavaScript: </h4>
                </div>

                <div class="card-body">
                    <pre><code>
                        <p class="code-display" style="text-align: left;">{{js}}</p>
                    </code></pre>
                
                    <a href='/structures/{{ds.id}}/js'><img class="icon-xs" src="https://image.flaticon.com/icons/png/512/2046/2046801.png"></a>
                </div>

            </div>
                <br>
            
            <div class="card">

                <div class="card-header">
                    <h4 class="card-title">Python: </h4>
                </div>

                <div class="card-body">
                    <pre><code>
                      <p class="code-display" style="text-align: left;">{{py}}</p>
                    </code></pre>
                    <button class="btn-outline-primary">Download PY</button>
                </div>

            </div>

        <button class="button btn-outline-primary btn-rear">View Structure</button>
    </div>

</div>