<div class="card cardflip">
    
    <div class="card-face card-face-front">
        <p class="text-center">Front of Card</p> 
        <button class="button btn-outline-primary">View Code</button>
    </div>
    <div class="card-face card-face-back">
        <h1>SHOW CODE HERE</h1>
            
            <div class="card">

                <div class="card-header">
                    <h4 class="card-title">JavaScript: </h4>
                </div>

                <div class="card-body">
                    <pre><code><p class="card-text" style="text-align: left;">
                    </p></code></pre>
                </div>

            </div>
                <br>
            
            <div class="card">

                <div class="card-header">
                    <h4 class="card-title">Python: </h4>
                </div>

                <div class="card-body">
                    <p class="card-text">LOTS OF PYTHON CODE??
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat laboriosam facere aperiam temporibus ea, fuga neque rerum amet. Optio magnam, totam deserunt quas molestiae ipsa laudantium quaerat corrupti perspiciatis labore!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo maxime natus reiciendis porro, placeat voluptate incidunt accusantium dignissimos autem possimus, soluta optio molestiae commodi eligendi dolorum quaerat. Pariatur, error nam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem omnis eligendi pariatur consequuntur cupiditate aliquam aut, eaque dolorem corporis expedita laudantium placeat, alias soluta quam in. Tempore autem alias perspiciatis!
                    </p>
                </div>

            </div>

        <button class="button btn-outline-primary btn-rear">View Structure</button>
    </div>

</div>