/* 

Lavender : #E6DBFF
LightBlue : #7299ED
Deep Violet : #5726CC
Yogurt : #FFE6B4
OrangeSherbet : #F5A169 

*/



body, html {
    background-color: #FFE6B4;
    height: 90%;
    margin: 0;
    padding: 0;
}

#navbarpls.navbar {
    background-color: #E6DBFF;
    border: 2px solid black;
}

.nav-item {
    background-color: #F5A169;
}

.nav-link {
    color: #5726CC;
}

.body-container {
    height: 100%;
    width: 100%;
}

.maincontainer {
    border: 1px solid black;
    background-color: white;
    height: 100%;
    width: 100%;
    perspective: 2000px;
    overflow: auto;
    margin: 0 auto;
    padding-bottom: 20px;
}

.container1 {
    border: 1px solid black;
    background-color: E6DBFF;
}

.container2 {
    border: 1px solid black;
    background-color: 7299ED;
}

.container3 {
    border: 1px solid black;
    background-color: 5726CC;
}

.card {
    margin: 0 auto;
    max-height: 75%;
    border: none !important;
}

.cardflip {
    width: 80%;
    height: 100%;
    cursor: pointer;
    transform-origin: center right;
    transform-style: preserve-3d;
    transition: transform 1s;
    border: none !important;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card-face {
    position: absolute;
    /* margin: 10px auto; */
    padding: 10px auto;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-face-front {
    background-color: #E6DBFF;
}

.card-face-back {
    background-color: #FFE6B4;
    transform: rotateY(180deg);
}

.card-body {
    overflow: auto;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
  }

.button {
    margin: 20px 0 20px 0;
}

.flip-card {
    background-color: transparent;
    width: 80%;
    height: 300px;
    perspective: 1000px;
    margin: 0 auto;
  }
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #bbb;
    color: black;
}
  
.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}
