/* 

Colors:
Lavender : #E6DBFF
LightBlue : #7299ED
Deep Violet : #5726CC
Yogurt : #FFE6B4
OrangeSherbet : #F5A169 

Icons:
https://image.flaticon.com/icons/png/512/2046/2046766.png Edit
https://image.flaticon.com/icons/png/512/2046/2046801.png Download
https://image.flaticon.com/icons/svg/1370/1370550.svg Delete
https://image.flaticon.com/icons/svg/984/984145.svg Code
https://image.flaticon.com/icons/svg/1659/1659098.svg NavDropDown

*/



body, html {
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
header {
    height: 10%;
}

.navbar {
    padding: 10px auto;
    height: 100%;
}

#navbarpls.navbar {
    background-color: #E6DBFF;
    border: 2px solid black;
}

.nav-link {
    color: #5726CC;
}

.page-nav {
    margin: 20px 0 20px 0;
    width: 25%;
}

.page-link {
    border-radius: 5px;
    width: 35px;
    height: 35px;
    margin: 5px 7px auto;
    text-align: center;
}

.body-container {
    height: 90%;
    width: 100%;
    border-radius: 25px;
}

.maincontainer {
    border: 1px solid black;
    height: 90%;
    width: 100%;
    overflow: auto;
    margin: 0 auto;
    padding: 0;
    perspective: 1000px;
    background-color: #E6DBFF;
    border-radius: 25px;
}

.sidecontainer {
    border: 1px solid black;
    padding: 0;
    margin: 0 auto;
}

.container1, .container2, .container3 {
    border: 1px solid black;
    width: 100%;
    background-color: #E6DBFF;
}

.index-cards {
    border: 3px outset #E6DBFF;
    background-color: rgba(230, 219, 255, 0.4);
    margin: 20px auto;
    border-radius: 10px;
}

.card {
    margin: 0 auto;
    border: none !important;
    height: 500px;
    background-color: #505050;
}

.card.col {
    border-radius: 25px;
}

.cardflip {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-origin: center right;
    transform-style: preserve-3d;
    transition: transform .7s;
    border: none !important;
    border-radius: 25px;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card-face {
    color: white;
    position: absolute;
    padding: 10px auto;
    width: 100%;
    backface-visibility: hidden;
}

.card-face-front {
    background-color: #505050;
    border-radius: 25px;
}

.card-face-back {
    background-color: #505050;
    border-radius: 25px;
    transform: rotateY(180deg);
}

.description-text {
    height: 50%;
}

.card-body {
    overflow: auto;
    height: 25%;
}

pre code {
    background-color: rgb(70, 70, 70);
    border: 5px inset #5726CC;
    display: block;
}

pre {
    width: 100%;
}


.code-display {
    animation: CodeGradient 6s ease infinite;
    background: linear-gradient(270deg, #e55d87, #5fc3e4, #e6dbff);
    background-size: 600%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
}

.button {
    margin: 20px 0 20px 0;
    width: 150px;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    perspective: 1000px;
    margin: 0 auto;
  }
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .7s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #bbb;
    color: black;
}
  
.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

.icon-xs {
    height: 25px;
    width: 25px;
}

.icon-m {
    height: 40px;
    width: 40px;
}

.signup-inputs {
    margin: 20px auto;
    border-radius: 30px;
    border: 2px inset #E6DBFF;
}

.btn, .pgbtn {
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border: none;
    font-weight: 600;
    color: black;
}

.pgbtn.active {
    color: black;
    background-image: linear-gradient(to right, #ffffff, #eeeeee, #E55D87, #5FC3E4);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.btn {
    width: 150px;
    border-radius: 50px;
    border: 1px solid black;
}

.btn:hover, .pgbtn:hover{
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border: none;
    color: white;
    opacity: 0.7;
}

// .btn.color-3 {
//     background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
//     box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
// }
.btn.color-3, .pgbtn.color-3 {
    background-image: linear-gradient(to right, #ffffff, #eeeeee, #E55D87, #5FC3E4);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}





img {
    max-width: 100%;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .cardz {
    position: relative;
    background: #333;
    width: 400px;
    height: 75vh;
    border-radius: 6px;
    padding: 2rem;
    color: #aaa;
    box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
      0 0 1rem rgba(0,0,0,0.2);
    overflow: hidden;
    
    &__image-container {
      margin: -2rem -2rem 1rem -2rem;
    }
    
    &__line {
    opacity: 0;
    animation: LineFadeIn .8s .8s forwards ease-in;
    }
  
    &__image {
      opacity: 0;
      animation: ImageFadeIn 1s 1.4s forwards;
    }
  
    &__title {
      color: white;
      margin-top: 0;
      font-weight: 800;
      letter-spacing: 0.01em;
    }
    
    &__content {
      margin-top: -1rem;
      opacity: 0;
      animation: ContentFadeIn .8s 1.6s forwards;
    }
    
    &__svg {
      position: absolute;
      left: 0;
      top: 115px;
    }
  }
  
  @keyframes LineFadeIn {
    0% { opacity: 0; d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 "); stroke: #fff; }
    50% { opacity: 1; d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300"); stroke: #888BFF; }
    100% { opacity: 1; d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400"); stroke: #545581; }
  }
  
  @keyframes ContentFadeIn {
    0% { transform: translateY(-1rem); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  
  @keyframes ImageFadeIn {
    0% { transform: translateY(0); opacity: 0; filter: blur(2px); }
    50% { opacity: .5; filter: blur(2px); }
    100% { transform: translateY(1) scale(1.0); opacity: 1; filter: blur(0); }
  }





  .cardx {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 260px;
    margin: 20 auto;
    perspective: 2000px;
    transform-style: preserve-3d;
  }
  .abstract {
    background-color: rgb(46, 46, 46)
  }

  .details {
    background: linear-gradient(270deg, #e55d87, #5fc3e4, #e6dbff);
  }
  .abstract,
  .details {
    $bg: linear-gradient(270deg, #e55d87, #5fc3e4, #e6dbff);
    width: 100%;
    padding: 15px 30px;
    position: relative;

  
    .cardx:hover & {
        border: 1px solid white;
    }
  }
  
  .abstract {
    //z-index: 10;
    transition: .5s ease-in-out;
  }
  
  .details {
    max-height: 0;
    padding: 0;
    
    overflow: hidden;
    visibility: hidden;
    
    transform: rotateX(-180deg);
    transform-origin: top center;
    backface-visibility: hidden;
    transition: .5s transform ease-in-out;
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 10%;
      right: 10%;
      height: 1px;
      background: grey;
    }
    
    .cardx:hover & {
      max-height: none;
      overflow: visible;
      visibility: visible;
      transform: rotateX(0deg);
    }
  }
  
  .details__inner {
    height: 100%;
    width: 100%;
    padding: 15px 30px;
  }

// PARALLAX SECTION

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
  }
  
.section, .section1, .section2, .section3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.section {
    height: 100vh;
}

.section1 {
    height: 45vh;
}

.section2 {
    height: 60vh;
}

.section3 {
    height: 10vh;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
    background-size: 100%;
    z-index: -1;
}
  
.static {
    background-color: rgba(44, 44, 44, 0.9);
}

.bg1::after {
    background-image: url('https://placekitten.com/g/900/700');
}

.bg2::after {
    background-image: url('https://placekitten.com/g/800/600');
}

.res_img{
  border-radius: 3px;
  height: 70%;
  width: 70%;
}

@-webkit-keyframes CodeGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes CodeGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes CodeGradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
